/* ScrollingTestimonials.css */
.marquee-row {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-row:hover .marquee-content {
  animation-play-state: paused;
}

.marquee-content {
  display: flex;
  gap: 1.5rem;
  width: max-content;
  animation: scroll var(--duration) linear infinite;
  padding: 0.5rem 0;
}

.marquee-reverse .marquee-content {
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 0.75rem)); /* Half width minus half gap */
  }
}